car_care/service_app/__pycache__/models.cpython-312.pyc
car_care/service_app/__pycache__/serializers.cpython-312.pyc
car_care/service_app/__pycache__/urls.cpython-312.pyc
car_care/service_app/__pycache__/views.cpython-312.pyc
car_care/db.sqlite3
car_care/db.sqlite3
*.pyc
car_care/car_care/__pycache__/__init__.cpython-312.pyc
car_care/car_care/__pycache__/settings.cpython-312.pyc
car_care/car_care/__pycache__/urls.cpython-312.pyc
car_care/car_care/__pycache__/wsgi.cpython-312.pyc
car_care/db.sqlite3
car_care/service_app/__pycache__/__init__.cpython-312.pyc
car_care/service_app/__pycache__/admin.cpython-312.pyc
car_care/service_app/__pycache__/apps.cpython-312.pyc
car_care/service_app/__pycache__/models.cpython-312.pyc
car_care/service_app/__pycache__/serializers.cpython-312.pyc
car_care/service_app/__pycache__/urls.cpython-312.pyc
car_care/service_app/__pycache__/views.cpython-312.pyc
car_care/service_app/migrations/__pycache__/0001_initial.cpython-312.pyc
car_care/service_app/migrations/__pycache__/0002_part_service_servicepart_vehicle_delete_user_and_more.cpython-312.pyc
car_care/service_app/migrations/__pycache__/0003_vehicle_license_plate.cpython-312.pyc
car_care/service_app/migrations/__pycache__/0004_vehicle_purchase_date.cpython-312.pyc
car_care/service_app/migrations/__pycache__/0005_alter_vehicle_purchase_date_and_more.cpython-312.pyc
car_care/service_app/migrations/__pycache__/__init__.cpython-312.pyc
.env
car_care/service_app/__pycache__/models.cpython-312.pyc
car_care/car_care/__pycache__/settings.cpython-312.pyc
/car_care/car_care/__pycache__
